
@import url('/src/fonts/PFBeauSansPro/pfbeau.css'); 
@import url('voiting.css');

@font-face {
    font-family: 'Bridge Type';
    src: url('/src/fonts/BridgeTypeEuro2020.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, p{
    margin:0;
    padding: 0;
}

body{
    font-family: 'PF BeauSans Pro';
    max-width: 1200px;
    margin:0 auto;
    background-color: #439AB1;

}




h1, h2, h3, button{
    font-family: 'Bridge Type';
    font-weight: 500;
}

button{
    cursor: pointer;
}



.hidden{
    display: none;
   
}

.voiting__title{
    text-align: center;
    padding-top: 40px;
}

.voiting__title h1{
    color: #eee;
    font-size: 50px;
}

.voiting__title img {
    width: 70px;
    height: auto;
    object-fit: contain;
}



.control__button, .control{
    display: flex;
    flex-wrap: wrap;
}

.control{
    margin-top: 50px;
    margin-bottom: 20px;
}

.control__button{
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

button.btn{
    font-size: 1.5rem;
    background: rgba(0,0,0,.3);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 25px;
}



.voiting-result-wrapper{
    
    border-radius: 15px;
    padding: 35px;
    

}


.player{
    text-align: center;
    color: #fff;
}

.player h3{
    letter-spacing: 0.1em;
}

.player__img img {
    border-radius: 500px;
}



.message{
    text-align: center;
    color: #fff;
    font-size: 28px;
}

.voiting-result{
    margin-bottom: 70px;
}


/*Animations*/


.tab{
    animation: fade-in 1s;
}

.hidden {
    display: none;
    animation: fade-out 2s;
}

.voiting-result{
    animation: fade-in 2s;
}
/*
.forward{
    animation-name: slideRight;
    -webkit-animation-name: slideRight;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}

.def{
    animation-name: slideRight;
    -webkit-animation-name: slideRight;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;

    animation-delay: 500ms;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}


.central{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}

.gk{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;

    animation-delay: 500ms;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
*/


@keyframes fade-in{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out{
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}
 
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
    
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}













/*
@media (min-width:1200px){

.control__button{
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

body{
    max-width: 1180px;
    margin:0 auto;
}

.form-wrapper{
    padding: 50px;
    border: 1px solid #000;
    border-radius: 25px;
    display: inline-block;
}



}

*/

@media (max-width: 750px){


    .voiting__title h1{
        font-size: 42px;
    }

    .voiting {
        padding: 20px;
        margin-bottom: 40px;
    }

    .voiting-result-wrapper{
        padding: 20px;
    }

    .control{
        display: flex;
        flex-wrap: wrap;

    }

    .control__button{
        width: 100%;
    }

    button.btn{
        font-size: 24px;
        padding: 10px 35px;
        margin-bottom: 25px;
    }

    .player{
        text-align: center;
        color: #fff;
        width: 50%;
        margin-bottom: 40px;
    }

    .player_percent h4{
        font-size: 28px;
        margin:0px;
    }

    .player__name h3{
        font-size: 20px;
        margin:15px 0;
        
    }

    .player__img img{
        width: 120px;
        margin-top: 20px;
    }

    

    button.btn-next{
        font-size: 20px;
        padding: 8px 20px;
        background: #51AB34;
        color: #fff;
        border: 2px solid #fff;
    }

    button.btn-prev{
        font-size: 20px;
        padding: 8px 20px;
        background: #434343;
        color: #fff;
        border: 2px solid #fff;
    }
    
    

    label.check{
        width: 50%;
    }

    .tab h2, .tab h3 {
        text-align: center;
        color: #fff;
    }

    
}


